.fontA{
    margin: 0 auto;
}

.content2B{
    width: 100%;
}
.content2Ba{
    width: 90%;
    margin: 100px auto;
}


@media (max-width: 1000px){
    .content2B{
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        
    } 
}




